/* Error: expected "{".
 *    ,
 * 46 | >>>>>>> d2c260b8bc0ae978658e9265a7f9ef1f2a60d2c1
 *    |                                                 ^
 *    '
 *   scss\components\_header.scss 46:49  @import
 *   scss\style.scss 2:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 46 \2502  >>>>>>> d2c260b8bc0ae978658e9265a7f9ef1f2a60d2c1\d\a    \2502                                                  ^\a    \2575 \a   scss\\components\\_header.scss 46:49  @import\a   scss\\style.scss 2:9                 root stylesheet';
}
