/*nesting o anidamiento*/
/*header*/
* {
  margin: 0;
  padding: 0;
}

/*sass del index*/
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
body div header {
  height: 90px;
  background-color: black;
  border-radius: 10px;
}
body div header h1 {
  background-color: black;
  width: 100%;
  font-style: arial;
  margin: auto;
  text-indent: 25%;
  color: white;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: 8;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 780px) {
  body div header h1 {
    text-indent: none;
    font-size: 80%;
  }
}
body div header div {
  position: sticky;
}
body div header div nav {
  display: flex;
  width: auto;
  height: 50px;
}
body div header div nav div img {
  object-fit: contain;
  width: 30%;
  height: auto;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 50px;
}
body div header div nav div ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
body div header div nav div ul li a {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 1.5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: bolder;
}
body div header div nav div ul li a img {
  width: 20%;
  height: 20%;
}

main {
  /*main del proyecto*/
  background-color: black;
  margin-top: 100px;
  margin-bottom: 90px;
  padding: 20px 5px 10px 5px;
  display: flex;
  /*Titulo del Principal*/
  /*contenido principal*/
}
@media (max-width: 780px) {
  main {
    display: block;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
main h2 {
  background-color: black;
  background-size: contain;
  color: white;
  text-indent: 30%;
  border-style: double;
  border-radius: 10px;
  text-shadow: 1px 1px yellow;
  font-style: oblique;
  font-size: xx-large;
  border-color: red;
}
main div {
  /*esta es la row*/
  display: flex;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 780px) {
  main div {
    display: block;
  }
}
main div div {
  width: fit-content;
  height: 400px;
  padding: 100px 0px 5px 0px;
  display: block;
}
main div div h3 {
  background-color: black;
  border-color: tomato;
  border-style: groove;
  border-radius: 10px;
  text-indent: 30%;
  background-image: -webkit-radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
  color: yellow;
}
main div div video {
  justify-content: center;
  width: 50%;
  height: 80%;
  border-style: none;
  border-radius: 30px;
}
main div div {
  padding: 50px 0px 0px 0px;
}
main div div img {
  align-items: initial;
  height: 90%;
  width: 70%;
  border-radius: 20px;
  transition: height 2s, width 2s;
}
main div div img:hover {
  height: 90%;
  width: 90%;
}
@media (max-width: 780px) {
  main div div img:hover {
    height: 50%;
    width: 40%;
    align-items: center;
  }
}

.nov-img {
  height: fit-content;
  justify-content: center;
}

footer {
  background-color: black;
  border: solid tomato;
  border-radius: 50px;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
@media (max-width: 780px) {
  footer div {
    display: block;
  }
  footer div nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  footer div div {
    padding-top: 15px;
    padding-left: 10px;
    object-fit: contain;
  }
  footer div div iframe {
    border-radius: 20px;
    justify-items: center;
    width: 100%;
    height: 70%;
    transition: height 2s, width 2s;
  }
  footer div div iframe:hover {
    height: 100%;
    width: 100%;
  }
  footer div div ul {
    display: flex;
    -ms-flex: 1;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
    justify-items: right;
    list-style: none;
    align-items: center;
    width: auto;
    height: auto;
  }
  footer div div ul li a {
    height: 120%;
    width: 120%;
  }
}

.btn {
  width: 50%;
  height: 50%;
  justify-items: center;
  align-items: center;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 95px;
}

/*# sourceMappingURL=sytle.css.map */
