*{
    padding: 0px;
    margin: 5px;
}
/*titulo permanente de menu de todas las paginas*/
.header-container{
    background-color: rgb(195, 236, 10);
    position: sticky;
    width: auto;
    height: 35px;
    top: 5px;
    transition: all 2s;
    }
.header-container:focus {
    width: 150px;
    font-size: 24px;
}
.ul-header{
    font-size: large;
    font-weight: bolder;
    list-style: none;
    display: flex;
    justify-content: space-between ;
    object-fit: cover;
    align-items: center;
}
.LOGO { 
    background-color: yellow;
    height: 100px;
}
.LOGO img{
    width: auto;
    height: 85%;
    justify-items: flex-start;
}
.TITULO { 
    background-color: yellow;
    height: 100px;
    width: 80%;
    animation-name: titulo;
    animation-duration: 4s;
}
@keyframes titulo {
    0%   {background-color: red;}
    25%  {background-color: green;}
    50%  {background-color: blue;}
    100% {background-color: yellow;}
}

.TITULO p{
    text-align: center;
    align-items: center;
    font-style: italic;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 8;
}
@keyframes aparecer {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
.VIDEO { grid-area: "VIDEO"; 
    justify-content: center;   
}
.VIDEO video{
    width: 50%;
    height: 80%;
    align-items: center;
}
.PARRAFO { 
    font-style: oblique;
    transition: height 2s;
 }
.PARRAFO p{
     align-items: center;
     border-radius: 1px;
     border-color: blue;
     font-size: 20px;
     height: 60%;
 }
.PARRAFO p:hover {
    height: 200px;
 }
.MARCAS img{
    align-items: initial;
    height: 80%;
    width: 60%;
    transition: height 2s, width 1s;
}
.MARCAS img:hover {
    height: 90%;
    width: 75%;
 }
 /*Tuneamos el footer*/
.footer {
    list-style: none;
    background-color: yellow;
    background-image: linear-gradient(to left green yellow);
    display: flex;
    justify-content: right;
    height: 70px;
    width: 95%;
}
.redes{
    list-style: none;
    display: flex;
}
.redes img{
    transform: translate(10px, 20x);
    width: 40%;
    height: 60%;
}
/*Pagina Novedades*/
.vinos {
    display: flex;
    justify-content: space-between center;
    width: 80%;
    height: 65%;
} 
.vinos img {
    width: 90%;
}
.vinos h3{
    text-justify: center;
}

/*manejamos MARCAS.HTML*/
.container-marca{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 150px 300px;
    gap: 0px;
    grid-template-areas:
      "LOGO2 TEXTO2"
      "MARCAS2 MARCAS2";
    background-color: #a1e96a;
}
.MARCAS2 { 
    grid-area: "MARCAS2";
    justify-content: center;
}
.MARCAS2 img{
    align-items: center;
    justify-items: center;
    height: 50%;
    width: 50%;
}

/*Aplico el Responsive*/
 @media only screen and (max-width: 767px){
.LOGO { 
        background-color: yellow;
        height: 50px;
    }
.LOGO img{
        width: auto;
        height: 80%;
        justify-items: center ;
        justify-content: center;
    }
.TITULO{
        grid-area: "TITULO";
        background-color: yellow;
        
    }

    .TITULO p{
        font-size: 15px;
    }
    .VIDEO{
        width: 60%;
        height: 50%;
    }
    .PARRAFO { grid-area: "PARRAFO";
        font-style: oblique;
        text-size-adjust: auto;
     }
    .PARRAFO p{
         align-content: center;
         text-size-adjust: auto;
     }
    .MARCAS img{
        height: 60%;
        width: 60%;
    }
    .footer {
        background-color: rgb(200, 255, 0);
        height: 40px;
    }
    
    .redes img{
        width: 30%;
        height: 30%;
        justify-content: right;
    }
 }
 @media only screen and (min-width: 768px){
    .TITULO p{
        font-size: 30px;
    }
}
 @media only screen and (min-width: 1024px){
}