/* reseteo universal - selector universal */
* {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 80%;
    margin: 0 auto;
    color: #000;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* habilitamos la grilla / grid */
    display: grid;
    /* habilitar las filas */
    grid-template-columns: repeat(4, 1fr);
    /* habilito las columnas */
    grid-template-rows: 200px 600px 150px 150px;

    /* GRID AREA */
    grid-template-areas: 
         "header header header header"
         "header header header header"
         "aside section section section"
         "footer footer footer footer";
}

.menu{
    grid-area: header;
    background-color: yellow;
    max-height: 150px;
    font-style: arial black;
    position: sticky;
}

.ul-header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-container{
    grid-column-start: span 3;
    width: 100%;
    height: 130px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    }
.titulo{
    color: black;
    font-style: italic;
    font-size: 60px;
    padding-bottom: 5px;
    padding-top: 0%;
}
.logo{
    color: yellow;
    align-items: center;
    width: fit-content;
    height: fit-content;
    object-fit: contain;
}

.publicidad{
    grid-area: aside;
    background-color: #525E75;
}

.section-container{
    grid-area: section;
    background-color: #92ba92;
}

.footer{
    grid-area: footer;
    background-color: yellow;
}
