@import '../base/mixin';

footer{
    list-style: map-get($estilos, list-style);
    background-color: map-get($estilos, background-color );
    background-image: linear-gradient(to left green yellow);
    display: flex;
    justify-content: right;
    @include sizes(auto, 75px);
    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                img{
                    transform: translate(10px, 20px);
                    width: 40%;
                    height: 60%;
                }

            }
        }
    }
}
