/*header*/
@import '../base/mapas';

header{
    background-color: map-get($estilos, background-color);
    position: sticky;
    width: auto;
    height: 45px;
    top: 5px;
    transition: all 2s;
    &:focus{
        width: 150px;
        font-size: 24px;
    }
    nav{
        ul{
            font-size: large;
            font-weight: bolder;
            list-style: map-get($estilos, list-style);
            display: map-get($estilos, display);
            justify-content: space-between;
            object-fit: cover;
            align-items: center;
            li{
                img{transform: translate(10px, 20x);
                    width: 40%;
                    height: 60%;
                    position: "float";
                }
            }
            
        }
    }
}