/*header*/

header{
    background-color: yellow;
    position: sticky;
    width: auto;
    height: 35px;
    top: 5px;
    transition: all 2s;
    &:focus{
        width: 150px;
        font-size: 24px;
    }
    nav{
        ul{
            font-size: large;
            font-weight: bolder;
            list-style: none;
            display: flex;
            justify-content: space-between;
            object-fit: cover;
            align-items: center;
            li{
                img{transform: translate(10px, 20x);
                    width: 40%;
                    height: 60%;

                }
            }
        }
    }
}