@import '../base/colores';

main{/*main del proyecto*/
    background-color: $bg-color;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 20px 5px 10px 5px;
    /*Titulo del Principal*/
    h2{
        background-color: $bg-color;
        background-size: contain;
        color: $ter-color;
        text-indent: 30%;
        border-style: double;
        border-radius: 10px;
        text-shadow: 1px 1px yellow;
        font-style: oblique;
        font-size: xx-large;
        border-color: red;
    }
    /*contenido principal*/
    div{ /*esta es la row*/
        display: flex;
        justify-content: space-between;
        align-content: center;
        div{
            width: fit-content;
            height: 400px;
            padding: 100px 0px 5px 0px;
            display: block;
            h3{
                background-color: $bg-color;
                border-color: $pri-color;
                border-style: groove;
                border-radius: 10px;
                text-justify: center;
                background-image: -webkit-radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
                color: $cua-color;
            }
            video{
                justify-content: center;
                width: auto;
                height: 80%;
                padding-left: 110px;
                border-style: none;
                border-radius: 30px;
            }
        }
        div{
            padding: 50px 0px 0px 0px;
            img{
                align-items: initial;
                height: 90%;
                width: 70%;
                border-radius: 20px;
                transition: height 2s, width 2s;
                &:hover{
                    height: 90%;
                    width: 90%;
                }
            }
        }
    }
}
.nov-img{
    height:300px;
    justify-content: center;
    
}
.bg-novedades{
    margin-bottom: 150;
}
